* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 700px;
    margin: 40px auto;
    border: 5px solid steelblue;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    padding: 30px;
    background-color: #fff;
}

header {
    background: linear-gradient(to bottom, white, lightsteelblue);
    border-bottom: 3px solid steelblue;
    padding: 15px 0;
    margin-bottom: 15px;
    overflow: hidden; 
}

header h1 {
    font-size: 300%;
    color: steelblue;
    font-style: italic;
    margin-bottom: 20px;
}

header h2 {
    font-size: 150%;
    margin-bottom: 30px;
}

header img {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

a {
    font-weight: bold;
}

section a:link,
section a:visited {
    color: maroon;
}

section a:hover,
section a:focus {
    color: steelblue;
}

section {
    margin-bottom: 50px;
}

h1, h2, h3 {
    margin-top: 25px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    line-height: 1.8;
}

aside {
    border: 3px solid steelblue;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 40px;
}

aside h2 {
    color: maroon;
    margin-bottom: 20px;
}

aside ul li {
    line-height: 2;
    margin-bottom: 10px;
}

aside a:link,
aside a:visited {
    color: steelblue;
}

aside a:hover,
aside a:focus {
    color: maroon;
}

footer {
    font-size: 80%;
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px;
}
