* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 100%;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, white, lightsteelblue);
    padding: 10px 20px;
    border-bottom: 3px solid steelblue;
}

header img {
    width: clamp(100px, 15%, 120px);
    margin-right: 20px;
}

header h1 {
    font-size: 2.5vw;
    color: steelblue;
    font-style: italic;
}

header h2 {
    font-size: 1.2vw;
    margin-left: 5px;
}

main {
    display: flex;
    gap: 2%;
    margin-top: 20px;
    flex-wrap: wrap;
}

section {
    flex: 0 0 65%;
}

aside {
    flex: 0 0 30%;
    border: 2px solid steelblue;
    border-radius: 10px;
    padding: 15px;
}

aside h2 {
    color: maroon;
    margin-bottom: 10px;
}

aside ul li {
    margin-bottom: 8px;
    line-height: 1.2;
}

section h1 {
    margin-bottom: 10px;
    font-size: 2vw;
}

section h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: steelblue;
}

section h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2vw;
}

section p, blockquote {
    margin-bottom: 10px;
    line-height: 1.6;
}

blockquote {
    font-style: italic;
    margin-left: 20px;
}

footer {
    margin-top: 20px;
    padding: 15px;
    background-color: steelblue;
    color: white;
    text-align: center;
}
